<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>無題ドキュメント</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>

<body>

<div id="container">

  <div id="header">
    <!-- TemplateBeginEditable name="body_header" -->
    <!-- TemplateEndEditable -->
  </div>

  <div id="wrapper">
    <div id="content">
    <!-- TemplateBeginEditable name="body_content" -->
    <!-- TemplateEndEditable -->
    Content
    </div>
  </div>

  <div id="navigation">
  <!-- TemplateBeginEditable name="body_navigation" -->
  <!-- TemplateEndEditable -->
  </div>

  <div id="extra">
  <!-- TemplateBeginEditable name="body_extra" -->
  <!-- TemplateEndEditable -->
  </div>

  <div id="footer">
   <!-- TemplateBeginEditable name="body_footer" -->
   <!-- TemplateEndEditable -->
  </div>
</div>

</body>
</html>
